# Setup
[tools]
bun = "1.3.9"
dotnet = "10.0.103"
node = "25.6.1"

# Variables de entorno compartidas
[env]
NODE_ENV = "development"

# Instalacion de dependencias (backend)
[tasks.install_backend]
dir = "backend"
run = "dotnet restore" # Si utilizara algun paquete NuGet este seria el comando para instalarlo

# Instalacion de dependencias (frontend)
[tasks.install_frontend]
dir = "frontend"
run = "bun install"
sources = ["frontend/package.json", "frontend/bun.lockb"]

# Setup del backend (instalando dependencias, etc)
[tasks.backend]
depends = ["install_backend"]
dir = "backend"
run = "dotnet watch run --project Expenses.UI" # 'dotnet watch' para tener hot-reload al ejecutar el proyecto

# Setup del frontend (instalando dependencias, etc)
[tasks.frontend]
depends = ["install_frontend"]
dir = "frontend"
run = "bun dev"

# Para ejecutar ambos proyectos en paralelo con hot-reload y mas facil
# Seria con 'mise run dev' para ejecutar ambos al mismo tiempo
[tasks.dev]
run = "mise run --jobs 2 backend ::: frontend"
